.controls {
  grid-area: Controls;
  color: white;
  display: flex;
  justify-content: center;
}

.btnToggleFeed {
  margin: 0 0.5em;
  background-color: #6049d7;
  color: var(--color-light);
  border-radius: 0.25em;
  border: 1px solid #6049d7;
  padding: 0.75em;
  width: 8em;
}
.btnToggleFeed:hover {
  background-color: #6049a7;
  border: 1px solid #6049a7;
}
.btnToggleFeed:active {
  background-color: #6049f7;
  border: 1px solid #6049f7;
}
.btnKillFeed {
  display: none;
  margin: 0 0.5em;
  background-color: #a01a1c;
  color: var(--color-light);
  border-radius: 0.25em;
  border: 1px solid #a01a1c;
  padding: 0.75em;
  width: 8em;
}
.btnKillFeed:hover {
  background-color: #701a1c;
  border: 1px solid #701a1c;
}
.btnKillFeed:active {
  background-color: #e01a1c;
  border: 1px solid #e01a1c;
}
@media (max-width: 900px) {
  .btnToggleFeed,
  .btnKillFeed {
    width: 50%;
    height: 4em;
    font-size: 1.2em;
  }
}
