.errorView {
  position: absolute;
  display: flex;
  justify-content: center;
  inset: 15%;
  height: 2em;
  padding: 0.25em 0 0 0;
  background-color: rgb(85, 30, 30);
  color: var(--color-light);
  font-size: 2em;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 700px) {
  .errorView {
    height: 3em;
    text-align: center;
  }
}
